# https://github.com/gabibdods/NewRepositoryTemplate:
*

!.gitattributes
!.gitignore
!.gitlab-ci.yml
!README.md

!.gitlab/
!.gitlab/sast-ruleset.toml

!License/
!License/LICENSE.md
!License/NOTICE.md


# particular repository ignores:

!Cargo.toml

!src/
!src/main.rs
!src/ghdl_runner.rs
!src/ico.ico
!src/logo.ico
!src/windows10.ico
