# https://github.com/gabibdods/NewRepositoryTemplate:
*

!.gitattributes
!.gitignore
!README.md
!License/
!License/LICENSE.md
!License/NOTICE.md


# particular repository ignores:

!ico.ico
!logo.ico
!windows10.ico
!ico.png
!logo.png
!windows10.png

!frontend/
!frontend/Cargo.toml

!frontend/src/
!frontend/src/main.rs
!frontend/src/ghdl_runner.rs